.list {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}

table {
    background-color: #1e293b;
    width: 100%;
    position: relative;
    height: 100%;
    color: #fff;
    border-collapse: collapse;
}

thead {
    background-color: #334155;
    height: 4.5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-weight: bold;
}

tbody {
    color: #888;
}

tbody tr.active, i.active  {
    color: #5ad9bf;
}

tr {
    cursor: pointer;
    height: 4.5rem;
}

tr:hover {
    background-color: #475569;
    color: #999;
}

td:nth-child(1) {
    width: 6%;
}

td:nth-child(2) {
    width: 50%;
}

td:nth-child(4) {
    width: 10%;
}

td:not(:nth-child(2)) {
    text-align: center
}

a {
    color: #888;
}